<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Employees" connectionString="Data Source=localhost;Database=C:\Program Files\Firebird\Firebird_2_5\examples\empbuild\EMPLOYEE.FDB;User=SYSDBA;Password=masterkey" providerName="FirebirdSql.Data.FirebirdClient"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <!--
          <remove invariant="FirebirdSql.Data.FirebirdClient" />
          <add name="Firebird Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".Net Framework Data Provider for Firebird"
            type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient, Version=6.6.0.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c" />
      -->
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="Firebird Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".Net Framework Data Provider for Firebird"
        type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>
</configuration>