<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
SELECT *
FROM dbo.Employees E
WHERE
	NOT EXISTS (
		SELECT *
		FROM (VALUES <#= GetProductIdCommaSeparatedParameterList() #>) P(ProductId)
		WHERE
			NOT EXISTS (
				SELECT *
				FROM
					dbo.Orders O
					INNER JOIN dbo.OrderDetails OD 
						ON O.OrderID = OD.OrderID
				WHERE
					P.ProductId = OD.ProductID
					AND O.EmployeeID = E.EmployeeID 
			)
	)
