<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Northwind" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=SSPI;Pooling=false" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Parametro1" value="Valor parametro 1"/>
    <add key="Parametro2" value="Valor parametro 2"/>
  </appSettings>
</configuration>
